p{ color:red;}

.navbar{ background-color: black;
overflow:hidden;
   

}

.navbar a { display:inline-block;
	    float:left;
            color: white;
            text-align: center;
padding:14px 14px;
text-decoration: none;
float:left;
	
}


.navbar a:hover{
background-color:gray;
color:white;

}